.modal-body {
    position: relative;
    max-height: 500px;
    padding: 15px;
		max-width: 300px;
    overflow-y: auto;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 15px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 360px;
}

.modal-body {
    position: relative;
    max-height: 500px;
    padding: 15px;
    max-width: 500px;
    overflow-y: auto;
}

select{
	height: 30px;
}
